@tailwind base;
@tailwind components;
@tailwind utilities;


 /*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,200&family=Nunito:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap'); 

.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root{
  z-index: 99999999!important;
}

.css-1sucic7{
  z-index: 99999999!important;
}

input[class~="unvisibleArrow"]::-webkit-outer-spin-button,
input[class~="unvisibleArrow"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

.MuiAvatar-root	{
  width: 25px!important;
  height: 25px!important;
  font-size: 1rem
}

.MuiAvatarGroup-avatar {
  font-size: .75rem!important;
}

input[class~="checkboxborder"] {
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* @media only screen and (max-height: 967px) and  (min-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-height: 967px) and (min-width: 1280px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-height: 968px)  and (min-width: 1600px) {
  html {
    font-size: 14px;
  }
} */

html{
  font-family: 'Inter' ;
  /* transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, border;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out; */
}


@media only screen and (max-width: 1391px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1568px) {
  html {
    font-size: 18px;
  }
}




.copiedDark::before, .copiedDark::after{
  border-color: transparent transparent #1C1C1C transparent!important;
}

.dark{
  color: white;
  background-color: #252525;
}

.light{
  color:black;
  background-color:#f9f9f9;
}

.dark .shadow-custom{
  box-shadow: 0px 2px 7px 0px #1C1C1C;
}

.shadow-15 {
  box-shadow: 0px 0px 4px 0px #0000001A;

}

.ReactModal__Overlay.ReactModal__Overlay--after-open{
  z-index: 100;
}

.stripe-1 {
  color: white;
  background: repeating-linear-gradient(
    -45deg,
    #FFC7B5,
    #FFC7B5 3px,
    #e9633a 5px,
    #da532b 7px
  );
}

.highcharts-exporting-group{
  display: none;
}

.highcharts-credits{
  display: none;
}


.MuiPaper-root:before{
  height: 0px !important;
}

.MuiSelect-select{
  padding-top:6px ;
  padding-bottom: 6px ;
}

.toggle {
  --width: 75px;
  --height: 30px;

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
  
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 25px;
  height: 25px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

/* .toggle input:checked+.slider {
  background-color: #49454F;
} */

.toggle input:checked+.slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top:6px;
  left: 10px;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 12px;

}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  left: 25px;
  color: #4d4d4d;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  color: #4d4d4d;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
  opacity: 0;
}

.toggle input:checked~.labels::before {
  opacity: 1;
}

.MuiAvatar-colorDefault{
  width: 25px !important;
  height: 25px !important;
}


:root {
  --rmdp-primary-teal: #ff7348;
  --rmdp-secondary-teal: #ff7348;
  --rmdp-shadow-teal: #ff7348;
  --rmdp-today-teal: #ff7348;
  --rmdp-hover-teal: #ff7348;
  --rmdp-deselect-teal: #ff7348;
}

.teal .rmdp-wrapper {

  border: 1px solid var(--rmdp-secondary-teal);
  box-shadow: 0 0 5px var(--rmdp-secondary-teal);
}
.teal .rmdp-wrapper {

  border: 1px solid var(--rmdp-secondary-teal);
  box-shadow: 0 0 5px var(--rmdp-secondary-teal);
}

.teal .rmdp-panel-body li {
  background-color: black;
}

.teal .rmdp-week-day {
  color: black;
}
.teal-dark .rmdp-week-day {
  color: white !important;
}
.teal .rmdp-week{
  margin-top: 5px;
}

.teal .rmdp-day .sd{
  color: #707070;
}
.teal .rmdp-range .sd{
  color: #ff7348;
}

.teal .rmdp-day.rmdp-deactive {
  color: var(--rmdp-secondary-teal);
}


.teal .rmdp-range {
  background-color: #FFC7B5;
  box-shadow: 0 0 3px #FFC7B5;
}

.teal .rmdp-arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
}

.teal .rmdp-arrow-container:hover {
  padding-top: 1px;
  background-color: var(--rmdp-primary-teal);
  box-shadow: 0 0 3px var(--rmdp-secondary-teal);
}

.teal .rmdp-panel-body::-webkit-scrollbar-thumb {
  background: var(--rmdp-primary-teal);
}

.teal .rmdp-day.rmdp-today span {
  background-color: #FFC7B5;
  color: #ff7348;
}

.teal .rmdp-rtl .rmdp-panel {
  border-left: unset;
  border-right: 1px solid var(--rmdp-secondary-teal);
}

.teal .rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: var(--rmdp-primary-teal);
  box-shadow: 0 0 3px var(--rmdp-shadow-teal);
}

.teal .rmdp-day:not(.rmdp-day-hidden) span:hover {
  background-color: var(--rmdp-hover-teal) !important;
}

.teal .b-deselect {
  color: black;
  background-color: white;
}

.teal .rmdp-action-button {
  color: var(--rmdp-primary-teal);
}

.teal .rmdp-button:not(.rmdp-action-button) {
  background-color: var(--rmdp-primary-teal);
}

.teal .rmdp-button:not(.rmdp-action-button):hover {
  background-color: var(--rmdp-deselect-teal);
}
 .end{
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background-color: #ff7348 !important;
}
.end .sd{
  background-color: #ff7348 !important;
  color: white !important;
}
.start .sd{
  background-color: #ff7348 !important;
  color: white !important;
}
.start{
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  background-color: #ff7348 !important;
}

.request-form-image{
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='3' ry='3' stroke='#D6D6D6' stroke-width='1' stroke-dasharray='25' stroke-dashoffset='18' stroke-linecap='square'/%3e%3c/svg%3e") !important;
  border-radius: 3px !important;
}